.sidebar {
  position: fixed;
  top: 0;
  width: 20%;
  height: 100%;
  background: var(--clr-white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: var(--clr-red-dark);
}
.show-sidebar {
  transform: translate(0) !important;
  transition: var(--transition);
}

.sidebar-ltr {
  left: 0;
  direction: ltr;
  transform: translate(-100%);
}
.sidebar-rtl {
  right: 0;
  direction: rtl;
  transform: translate(100%);
}

.sidebar-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 1.5rem;
}

.logo {
  justify-self: center;
  height: 40px;
}

.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  color: var(--clr-red-dark);
  margin-top: 0.2rem;
}
.close-btn:hover {
  color: var(--clr-red-light);
}
